<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {# NOTE
      This is based on the compiled output from vite/rollup
      in /client/public/dist/index.html.
      It should be kept in sync with the html structure in /client/public/index.html.
    #}
    <script type="module" crossorigin src="/assets/{{ index_js }}"></script>
    <link rel="modulepreload" href="/assets/{{ vendor_js }}">
  </head>

  <body>
    <div id="elm-flags-json" style="display: none;">
        {{flags}}
    </div>
  </body>
</html>
